/* Add font-family using @import url(); */
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

h1 {
    color: white;
    font-family: 'Rock Salt', cursive;
}

h2 {
    color: white;
}
body {
    margin: 0;
    padding: 0;
    color: black;
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: column;
    /* font-family: ; */
}

.rules {
    color: black;
    display: flex;
    justify-content: right;
}

.startButton {
    background-color: black;
    color: white;
    border-radius: 8px;
    padding: 14px 40px;
}

.resetButton {
    background-color: white;
    color: black;
    border-radius: 8px;
    padding: 14px 40px;
}

#game {
    display: flex;
    background-color: burlywood;
}

.card {
    width: 160px;
    height: 120px;
    background-color: white;
    /* making look bevelled  */
    /* border-left: ;
    border-right: ;
    border-top: ;
    border-bottom: ; */
    text-align: center;
    font-size: 100px;
    margin: 5px;
    padding: 10px;
    line-height: 120px;
    transition: 0.5s ;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.2);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6)
}

.category-title {
    background-color: blueviolet;
    text-align: center;
    font-size: 28px;
    padding: 5px;
    margin: 5px;
}

.button-1 {
    background-color: yellow;
}

.button-2 {
    background-color: yellow;
}

.correct {
    background-color: rgb(54, 252, 54);
}

.wrong {
    background-color: red;
}