/* Add font-family using @import url(); */
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

h1 {
    font-family: 'Rock Salt', cursive;
}
body {
    margin: 0;
    padding: 0;
    background-color: pink;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* font-family: ; */
}

#game {
    display: flex;
    background-color: blueviolet;
}

.card {
    width: 160px;
    height: 120px;
    background-color: aquamarine;
    /* making look bevelled  */
    /* border-left: ;
    border-right: ;
    border-top: ;
    border-bottom: ; */
    text-align: center;
    font-size: 100px;
    margin: 5px;
    padding: 10px;
    line-height: 120px;

}

.category-title {
    background-color: blueviolet;
    text-align: center;
    font-size: 28px;
    padding: 5px;
    margin: 5px;
}

.button-1 {
    background-color: yellow;
}

.button-2 {
    background-color: yellow;
}